.Title .jumbotron {
  padding: 3rem 2rem;
}

.Title .jumbotron h1 {
  font-size: 4.5rem;
}

.Title .jumbotron h2 {
  font-size: 2.5rem;
}

.Title .jumbotron h1 span {
  color: orange;
}

.question svg {
  width: 25px;
  margin-bottom: 40px;
  cursor: help;
}

#question-modal {
  padding-top: 50px;
}

#question-modal .modal-body {
  max-height: 300px;
  overflow-y: scroll;
}

.address-input {
  margin-bottom: 10px;
}

#prefix-input {
  font-size: 12px;
}

.invalid-address {
  float: right;
  color: rgb(255, 104, 98);
}

.legacy-output span {
  color:#444;
}

.cashaddr-output span {
  color: orange;
}

.bitpay-output span {
  color: blue;
}

.Translator {
  margin-bottom: 50px;
}
