.Title .jumbotron h1 span {
  color: orange;
}

.Title .jumbotron h2 {
  font-size: 2.5rem;
}

.address-input {
  margin-bottom: 10px;
}

#prefix-input {
  font-size: 12px;
}

.network-input {
  width: 20px;
}
